@import "../css/normalize.css";

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
/* header styling */
header{
    background-color:rgb(247, 247, 247);
    padding:1px;
    text-align:center;
    padding:10px;
}
.head h1{
    font-size:2.5rem;
    font-weight:900;
    padding:10px;
}
.nav-bar{
    margin-bottom:40px;
}
.nav-bar ul{
    margin:0;
    padding:0;
}
.nav-bar li{
    list-style-type: none;   
    background-color: #fff;
    margin:5px 10px;
}
.nav-bar li a{
    width:100%;
    display: inline-block;
    text-decoration:none;
    color:black; 
    padding: 10px;
    font-size:1.4rem;
    font-weight:bolder;
    text-transform: uppercase; 
}
.nav-bar li a:hover, .bottom-bar li a:hover{
    border-bottom:5px solid rgb(238, 234, 234);
    margin-bottom:-5px;
    background-color:black;
    color:white;
}
.profile img{
    max-width:80%;
}
.info,.portfolio p,.contact div{
    width:90%;
    margin: 10px auto;
    text-align: center;
    color:rgb(122, 121, 121);
    font-size:1.6rem;
    line-height:1.4;
}

/* main styling */

.portfolio-container{
    width:95%;
    text-align: center;
    padding-bottom:20px;
}
.portfolio{
   padding-top:10px;
}
 h3{
    padding:20px;
    font-weight: 900;
    font-size:1.4rem;
    text-transform: uppercase;
}
.portfolio-image img {
    display: block;
    max-width:100%;
}
.portfolio p{
    color: rgb(112, 109, 109);
}
h2{
    font-size:1.8rem;
    margin-top:20px;
    padding-top:10px;

}
.skill{
    text-align: center;
    width:90%;
    margin:10px auto;
    padding:10px;
    border-top:2px solid rgb(247,247,247);
}
.skill-cell{
    display:block;
    font-size:15rem;
    border:1px solid rgb(238, 234, 234);
    padding:10px;
    margin:15px 0;
    background-color:rgb(247,247,247);
    
}
/* footer styling */
footer{
    background-color:rgb(247, 247, 247);
    text-align:center;
    margin-top:10px;
    padding-top:40px;
    font-family: 'Raleway', sans-serif;
}
.contact{
    margin:20px auto;
    padding-bottom:40px;
}
.contact div{
    font-size:1.8rem;
    color:rgb(122, 121, 121)
}
.contact div span{
    margin-left:10px;
    font-weight:900;
}
.bottom{
    border-top:1px solid black;
    width:90%;
    margin:10px auto;
    padding:20px 0px;
    font-size:1.3rem;
}
.bottom span{
    float:left;
    font-size:1.2rem;
}
.bottom .bottom-link{
    float:right;
    color:black;
}
.bottom-link a{
    color:black;
    text-decoration: none;
}
.bottom-bar{
    display:none;
}
/* media queries  */

/* min-width:768px */
@media(min-width:768px){
    /* header styling */
    header{
        padding:10px 0px
    }
    .nav-bar li{
        display: inline-block;
        padding:5px;
        background:none;
    }
    .nav-bar li a{
        font-size:1.5rem;
    }
    .info-container{
        padding-bottom:40px
    }

    .profile img{
        float:right;
        max-width:40%;   
    }
    .info{
        width:calc(60% - 2rem - 10px);
        float:left;
        font-size:1.8rem;
        line-height:1.5;
        text-align:left;
        margin:0 5px ;
        padding:0 2rem 0;
    }

    /* main-styling */
    .portfolio-container{
        width:90%;
        margin: auto;
    }
    .col{
        width:calc(50% - 40px);
        margin: auto;
        text-align: center;
        float:left;
        margin:0;
        padding-left:40px;
       
    }
    .portfolio img{
        width:100%;
    }
    .skill-cell{
        float:left;
        width:calc(50% - 20px);
        margin:10px
    }

    /* footer styling */
    .bottom{
       padding-bottom:50px;
    }
    .bottom-port p{
        width:50%;
        font-size:2rem;
        margin: auto;
        font-weight:normal;
    }
    .bottom span, .bottom{
        font-size:1.4rem;
    }
    .bottom .bottom-link{
        display:none;
        float:none;
    }
    .bottom-bar{
        display:block;
        float:right;
        margin-top:-10px;;
    }
    .bottom-bar ul{
        margin:0;
        padding:0;
    }
    .bottom-bar li{
        list-style-type: none;
        display: inline-block;
    }
    .bottom-bar li a{ 
        display:inline-block;
        padding:10px;
        margin-left:10px;
        color:black;
        text-decoration: none;
        text-transform:uppercase;
    }
    
}

/* media queries min width:1024px */
@media(min-width:1024px){
    /* header styling */
    .title-bar{
        padding-top:20px;
    }
    .head{
        float:left;
    }
    .nav-bar{
        float:right;
    }
    .head h1{
        padding:0 2.5rem;
    }
    .info, .profile img{
        width:50%;
        padding-left:20px;;
    }
    
    /* main styling */
    .skill-cell{
       
        width:calc(25% - 20px);
    }
    
    /* footer styling */
    .col{
        width:32%;
        float:left;
        padding:0;
    }
}